#homeDiv {
  min-height: 93%;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Tesla_Model_3_parked%2C_front_driver_side.jpg/1920px-Tesla_Model_3_parked%2C_front_driver_side.jpg") no-repeat;
  background-size: cover;
  overflow: hidden;
}
